# Folders
/.ipynb_checkpoints
*/.ipynb_checkpoints
*/spark-warehouse
*/cat_models
*/catboost_info
*/lgbm_models
*/xgb_models
*/agModels-predictClass
*/catboost_1659413765.1891239
*/*/.ipynb_checkpoints
*/*/__pycache__
*/*/catboost_info
*/structured_data_regressor

# Files
*.xgb
*.csv
*.env
*.cbm
*.pkl
*.json